@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .file-uploader {
    @apply flex items-center justify-center grow min-h-48 min-w-full !important;
    @apply bg-neutral-200 dark:bg-neutral-700;
    @apply font-slogan font-extrabold text-white;
    @apply border-4 border-dashed;
    @apply cursor-pointer;
  }

  .about-containers {
    @apply grow flex-row md:flex-col justify-start items-end p-2;
    @apply border border-green-300;
  }
}
